@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;  
  text-decoration: none;
}
body {
  scroll-behavior: smooth;  
  margin-left: auto;
  margin-right: auto; 
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;  
}

.header{
  background: #222;    
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  position: relative;
  &_navigation{    
    width: 1140px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;   
    &_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 41px;
    }
    &_menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:159px; 
      position: relative;    
        &_basket_content{
          position: absolute;
          top: -5px;
          right: -10px;
          background: #F16D7F;
          border-radius: 50%;
          width: 19px;
          height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          &_text{
            color: #FFF;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
      }
    }   
  }
  &__list{
    &-isActive{
      display: block;      
    }
    display: none; 
    width: 232px;   
    position: absolute;
    right: 0px;
    top: 75px;
    background: #FFF;
    padding-bottom: 32px;
    box-shadow: (6px 4px 35px rgba(0, 0, 0, 0.21));
    &-titel{
      padding: 32px 0 0 33px;
      color: #000;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &-sector{
      margin: 24px 0 0 32px;
      &-titel{
        color: #F16D7F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;  
        line-height: normal;     
      }        
      &__wrapper{
        margin: 12px 0 0 21px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        &-text{
          color: #6F6E6E;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    } 
  } 
}


.brand{
  background: #F1E4E6;  
  display: flex;
  justify-content: center;  
  &_wrapper{
    display: flex;   
    align-items: center;
    width: 1600px;
    gap: 64px;   
    &_titel{
      border-left: 12px solid #F16D7F;
      margin-right: 16px;
      &_head{
        padding-left: 16px;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
      &_content{
        display: flex;
        gap: 8px;
        &_text{
          padding-left: 16px;
          color: #222;
          font-family: Lato;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }  
        &_fashion{        
          color: #F16D7F;
          font-family: Lato;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        } 
      }       
    }
  } 
}

.offer{
  width: 1140px;
  margin: 65px auto 96px; 
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  &_card_woman, &_card_man, &_card_child{
    position: relative;  
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-self: center;
    &_wrapper{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 22, 22, 0.70);   
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-direction: column;  
        &_titel{
          color: #FFF;
          text-align: center;
          font-family: Lato;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &_text{
          color: #F16D7F;
          font-family: Lato;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    } 
    &_card_acces{
      width: 1140px;
      height: 180px;
      grid-column-start: 1;
      grid-column-end: 4;
      position: relative;  
      &_img{
        position: absolute;
        width: 100%;
        height: 100%;

      }
      &_wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 22, 22, 0.70);   
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;  
          &_titel{
            color: #FFF;
            text-align: center;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          &_text{
            color: #F16D7F;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
}

.poducts{
      width: 1140px;
      margin: 0 auto 60px; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:6px;
        margin-bottom: 56px;
        &_titel{
          color: #222;
          font-family: Lato;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }   
        &_text{
          color: #9F9F9F;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      &_wrapper{
        display: grid;
        grid-template-columns: repeat(3, 360px);
        gap: 30px;
        &_card{
          position: relative;
          &_hover{
            position: absolute;
            width: 360px;
            height: 420px;
            top: 0;
            &:hover{
              position: absolute;
              width: 360px;
              height: 420px;
              background: rgba(58, 56, 56, 0.86);
              display: flex;
              justify-content: center;
              align-items: center;
              & > button{
                display: flex;
                gap: 11px;
                width: 139px;
                height: 49px;
                justify-content: center;
                align-items: center;
                border: 1px solid #FFFFFF;
                background: none;
                color: #FFF;
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          &_button{
            display: none;
          }
        } 
          &_content{
            padding: 25px 16px;
            display: flex;
            flex-direction: column;
            background: #F8F8F8;
            gap:16px;
            &_titel{
              color: #000;
              font-family: Lato;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &_desc{
              color: #5D5D5D;
              font-family: Lato;
              font-size: 14px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
            &_price{
              color: #F16D7F;
              font-family: Lato;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }       
      } 
      &_button{
        margin-top: 48px;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: none;
        width: 212px;
        height: 48px;     
        border: 1px solid #FF6A6A;
        &:hover{
          color: #FFF;
          background:  #F16D7F
        }
      }  
}

.feature{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222224;  
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding: 103px 0 104px 0;
    &-card{
      display: flex;
      justify-content: center;
      align-items: center;flex-direction: column;
      &-titel{
        padding-top: 28px;
        color: #FBFBFB;
        font-family: Lato;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &-text{
        padding-top: 16px;
        color: #FBFBFB;
        text-align: center;
        font-family: Lato;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }  
    }
  }
}

.subscribe{
  position: relative;   
  height: 448px; 
  display: flex;
  justify-content: center; 
    &-img{
      position: absolute;
      object-fit: cover;
      width: 100%;  
      height: 100%;  
      &-mobile{
        display: none;
      }        
    }
    &-shadow{
      position: absolute;
      background: rgba(244, 244, 244, 0.70);
      width: 100%; 
      height: 100%;     
    }    
  &__wrapper{
    position: absolute;   
    padding: 97px 0 126px 0;
    width: 1140px;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    &-info{
      display: flex;
      align-items: center;    
      &-text{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 359px;  
        &-norm{
          color: #222224;
          text-align: center;
          font-family: Lato;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }   
        &-italic{
          color: #222224;
          font-family: Lato;
          font-size: 20px;
          font-style: italic;
          font-weight: 400;
          line-height: normal;
        }  
      } 
    }
  }
  &__feedback{
    display: flex;
    align-items: center;
    flex-direction: column;
    &-titel{
      color: #222224;
      text-align: center;
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 167.2%;
    }  
    &-text{   
      color: #222224;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 167.2%;
    }   
    &-form{
      display: flex;
      margin-top: 32px;
      gap: 0;
      &-mail{
        width: 256px;
        height: 49px;
        border-radius:20px 0 0 20px;
        border: none;
        padding-left: 22px;
        background: #E1E1E1;
        outline:none;
      }
      &-mail::placeholder{       
        color: #222224;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &-button{
        width: 100px;
        height: 49px;
        background: #F16D7F;
        border-radius:0 20px 20px 0;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }      
    }  
  }
}

.footer{
  display: flex;
  background: #222224;
  justify-content: center;
  align-items: center;
  &__content{
    padding: 24px 0 24px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text{
      color: #FBFBFB;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-social{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      &__wrapper{
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;
        &:hover{
          background: #F16D7F;
          & > a > svg {
            fill: #FFFFFF;
          }          
        }
      }
    }
  }
}

@media(max-width:1170px) and (min-width:768px){
  .header{
    &_navigation{
      width: 768px;
      margin: 0 41px 0 32px; 
    }
    &__list{
      z-index: 3;
    }
  }
  .brand{
    &_wrapper{
      width: 768px;
      gap:39px;
      &_img{
        width: 386px;
        height: 386px;
      }  
      &_titel{
        &_head{
          font-size: 44px;
        }
        &_content{
          &_text{
            font-size: 24px;
          }
          &_fashion{
            font-size: 24px;
          }
        }       
      }    
    }
  }
  .offer{
    width: 768px;
    gap: 18px;
    margin: 65px auto 109px; 
    grid-template-columns: repeat(3, 231px);
    justify-content: center;
    &_card_woman, &_card_man, &_card_child{
      width: 231px;
      height: 167px;
    }
    &_card_acces{
      width: 729px;
      height: 116px;
    }
  }  
  .poducts{
    width: 768px;
    &_header{
      gap:3px;
      margin-bottom: 73px;
    }
    &_wrapper{
      grid-template-columns: repeat(2, 360px);
      gap:16px;
    }
  }
  .feature{     
    &__wrapper{
      width: 768px;
      flex-direction: column;
      padding: 0 0 64px 0;
      &-card{
        margin-top: 48px;
      }
    }
  }
  .subscribe{     
     height: 614px;
      &__wrapper{
      width: 768px;
      flex-direction: column;
      padding: 64px 0 140px 0;
      gap: 48px;     
      &-info{
        flex-direction: column;
      }
    }
  }
  .footer{
    &__content{
      margin: 0 32px;
    }    
  }
}

@media(max-width:767px) and (min-width:319px){
  .header{
    &_navigation{
      width: 375px;
      margin: 0 16px; 
      &_menu{
        width: 32px;
        &_link:nth-child(2),  &_link_wrapper_basket:nth-child(3){
          display: none;
        }
        &_basket_content{
          display: none;
        }
        
      }
    }
    &__list{
      z-index: 3;
      width: 100vw;
    }  
  }
  .brand{
    &_wrapper{
      width: 375px; 
      height: 363px; 
      justify-content: center;   
      &_img{
        display: none;
      }  
      &_titel{
        &_head{
          font-size: 38px;
        }
        &_content{
          &_text{
            font-size: 16px;
          }
          &_fashion{
            font-size: 24px;
          }
        }       
      }    
    }
  }
  .offer{
    width: 375px;
    gap: 32px;
    margin: 64px auto;     
    justify-content: center;  
    grid-template-columns: 343px; 
    &_card_woman, &_card_man, &_card_child{
      width: 343px;
      height: 248px;
      grid-column: 1;
    }
    &_card_acces{
      width: 343px;
      height: 111px;
      grid-column: 1;
      &_img{
        object-fit: cover;

      }
    }
  }
  .brand{
    &_wrapper{
      width: 375px; 
      height: 363px; 
      justify-content: center;   
      &_img{
        display: none;
      }  
      &_titel{
        &_head{
          font-size: 38px;
        }
        &_content{
          &_text{
            font-size: 20px;
          }
          &_fashion{
            font-size: 20px;
          }
        }       
      }    
    }   
  }
  .poducts{
    margin: 64px auto 85px; 
    width: 375px;
    &_header{
      gap:3px;
      margin-bottom: 40px;
    }
    &_wrapper{
      grid-template-columns: 358px;    
    }
  }
  .feature{     
    align-items: center;
    justify-content: center;
    &__wrapper{
      width: 375px;
      flex-direction: column;
      padding: 0 0 81px 0;
      &-card{
        margin-top: 48px;
      }
    }
  }
  .subscribe{     
    height: 550px;
    &-img{
      display: none;
      &-mobile{
        display: block;
        position: absolute;
        object-fit: cover;
        width: 100%;  
        height: 100%; 
      }
    }
     &__wrapper{
     width: 375px;
     flex-direction: column;
     padding: 64px 0 100px 0;
     gap: 59px;     
     &-info{
       flex-direction: column;
       &-text-norm{
        font-size: 18px;
       }
       &-text-italic{
        font-size: 18px;
       }
     }    
   }
   &__feedback{
    &-text{
      font-size: 14px;
    }
    &-form{
      margin-top: 22px;
      &-mail{
        width: 245px;
      }
      &-button{
        width: 95px;          
      }
    }
   }
 }
  .footer{ 
    &__content{
      padding: 43px 0 9px;
      margin: 0 62px;
      flex-direction: column-reverse;
      width: 320px;
      gap: 40px   ;
    }
  }
}
